

*{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1{
   font-weight: Normal;
   font-size: 50px;
   color: white;

   }



h2{
   color: aquamarine;
   font-size: 16px;
   }

 p{
   font-size: 21px;
   color: gray;
   }


#footer{
  color: gray;
  text-align: right !important;
}
